.btn {
    display: inline-block;
    color: white;
    border: 1px solid white;
    margin-top: 10px;
    padding: 15px 35px;

    &:hover {
        background-color: $hover;
        transition: background-color .3s ease;
    }

    &--featured {
        border-radius: 25px;
        background-color: $btnfeatured;
        padding: 5px 15px;

        &:hover {
            background-color: $btnfeatured;
            cursor: initial;
        }

        & img {
            width: 20px;
            height: 20px;
            padding-top: 5%;
        }
    }

    &--contact-us {
        margin-top: 30px;
        color: black;
        background-color: lightgray;
    }
}