.description {
    padding-top: 5px;
    max-width: 200px;
    font-size: .9rem;
    line-height: 1.1rem;

    &--p-b {
        padding-bottom: 30px;
    }

    &--contact-us {
        margin: auto;
        font-style: italic;
    }

    @mixin atSmall {
        max-width: 350px;
        line-height: 1.3rem;
    }

    @mixin atMedium {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}